@model Category ;


<form method="post" asp-action="DeletePost">
    <div class="border p-3 mt-4 rounded" style="background-color:#fba7d74a">
        @* for passing id to deletepost action *@
        <input hidden asp-for="Id" />
        <div class="row pb-2">
            <h2 class="text-secondary">Edit a Category</h2>
            <hr />
        </div>
        <div class="d-flex justify-content-start">
            <div class="mb-3 me-1 w-75">
                <label asp-for="Name" ></label>
                <input disabled asp-for="Name"  class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DisplayOrder" style="cursor:poiner"></label>
                <input disabled asp-for="DisplayOrder"  class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>

            </div>
        </div>
        <button type="submit" class="btn btn-danger " style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}